<html>
<head>
    <title> RESTful Spring Applicantion </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

    <div data-ng-app="app" data-ng-controller="LevelController" data-ng-init="init()">
        <br><br>
        <h2 align="center"><span class="text-success"><b>SAR Group Online Test</b></span></h2>
        <br><br>
        <!-- Level One -->
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-10 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 align="center"><span class="text-info"><b>Level One </b></span></h3>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <form name="stockForm" novalidate>
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">
                                            <input type="text" name="code" class="form-control" placeholder="Stock Exchange Code"
                                                   data-ng-model="stockCode"
                                                   data-ng-minlength="4" data-ng-maxlength="4" required>
                                            <br>
                                            <p class="text-danger" data-ng-show="stockForm.code.$touched && stockForm.code.$invalid">
                                                Four character Long Stock Code is required.</p>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <select class="form-control" name="cur" data-ng-model="currencyPreference">
                                                <option value="" disabled selected>Select Currency Preference</option>
                                                <option value="INR">INR</option>
                                                <option value="USD">USD</option>
                                                <option value="JPY">JPY</option>
                                                <option value="EUR">EUR</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <button class="btn btn-primary" data-ng-click="stockAPI(stockCode,currencyPreference)"
                                                    data-ng-disabled="stockForm.$invalid">Stock Price
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <div data-ng-if="isResult">
                                    <h2 class="text-primary">{{result}}</h2>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-md-1"></div>
        </div>
        <!-- Level One -->

        <br><br>

        <!-- Level Two -->
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-10 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3 align="center"><span class="text-info"><b>Level Two </b></span></h3>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <form name="carForm" novalidate>
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">
                                            <select class="form-control" name="mod" data-ng-model="model" required>
                                                <option value="" disabled selected>Select Ford Car Model</option>
                                                <option value="FIGO">Figo</option>
                                                <option value="ECOSPORT">Ecosport</option>
                                                <option value="MONDEO">Mondeo</option>
                                                <option value="ENDEAVOUR">Endeavour</option>
                                            </select>
                                            <p class="text-danger" data-ng-show="carForm.mod.$touched && carForm.mod.$invalid">
                                                Car Model is required.</p>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <button class="btn btn-primary" data-ng-click="carAPI(model)"
                                                    data-ng-disabled="carForm.$invalid">Car Features
                                            </button>
                                        </div>
                                        <div class="col-xs-1 col-md-1"></div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <table class="table table-striped ">
                                                <tr data-ng-repeat="(key, value) in featuresList">
                                                    <td>{{key | uppercase}}</td>
                                                    <td>{{value}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <div data-ng-if="featuresFlag">


                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-md-1"></div>
        </div>
        <!-- Level Two -->
    </div>

<script>
var app = angular.module('app',[]);

app.controller('LevelController', function($scope,$http) {

    $scope.init = function(){
        $scope.isResult = false;
        $scope.featuresFlag = false;
    };

    $scope.stockAPI = function(stock,currency){
        $http.get('/api/level/one/'+stock+'/price?currency='+currency).then(function(response){
              $scope.result = response.data.result;
              $scope.isResult = true;
        },function(error){
              $scope.errorMessage = error.data.message;
        });
    };

    $scope.carAPI = function(model){
        $http.get('/api/level/two/'+model+'/features').then(function(response){
              $scope.featuresList = response.data;
              $scope.featuresFlag = true;
        },function(error){
               $scope.errorReason = error.data.message;
        });
    };

});

</script>

</body>
</html>
